<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Configurações</h4>
                        <p class="card-category"> Listagem das configurações cadastradas para empresas associadas a este usuário</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Empresa
                                    </th>
                                    <th>
                                        Data Configuração
                                    </th>
                                    <th>
                                        Ações
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let alocacao of alocacoes">
                                        <td>
                                            {{getConfig(alocacao.empresa.id)?.id}}
                                        </td>
                                        <td>
                                            {{alocacao.empresa.nome}}
                                        </td>
                                        <td>
                                            {{getConfig(alocacao.empresa.id)?.dataCriacao}}
                                        </td>
                                        <td>
                                            <span *ngIf="getConfig(alocacao.empresa.id)">
                                                <a [routerLink]="['/configs/'+getConfig(alocacao.empresa.id)?.id]" mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'">
                                                    <i class="material-icons">create</i>
                                                </a>
                                            </span>

                                            <span *ngIf="!getConfig(alocacao.empresa.id)">
                                                <a [routerLink]="['/config/company/'+alocacao.empresa.id]" mat-raised-button type="button" matTooltip="Criar" [matTooltipPosition]="'above'">
                                                    <i class="material-icons">add_circle</i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  