<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-info">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <h4 class="card-title">Quadro de Avisos</h4>
                </div>
                <div class="card-footer">
                    <div class="stats aviso">
                        <i class="material-icons">warning</i> <b> Tem novidade na área! Agora nosso sistema conta com leaderboards e sala de troféus! Comemore se já tem conquistas e lute caso ainda não às tenha.</b>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats aviso">
                        <i class="material-icons">warning</i> <b> Não deixe de registrar a produtividade essa semana, contamos com você!</b>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats aviso">
                        <i class="material-icons">warning</i> <b> Durante a avaliação de produtividade fique atento aos pontos da equipe. Isso pode ajudá-los a melhorar a produtividade da sua equipe.</b>
                    </div>
                </div>
            </div>
        </div>
          <div class="col-lg-4 col-md-4 col-sm-12" *ngIf="leaderboardFidelidade && leaderboardFidelidade.length > 0">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Leaderboard de Fidelidade</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-strong-blue">
                                <th>
                                  Posição
                                </th>
                                  <th>
                                      Usuário
                                  </th>
                                  <th>
                                      Qt. Medições
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of leaderboardFidelidade; let i = index">
                                    <td>
                                      {{i+1}}º
                                    </td>
                                      <td>
                                          {{traduzirUsuario(item.idUsuario)}}
                                      </td>
                                      <td>
                                          {{item.quantidadeMedicoes}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12" *ngIf="leaderboardProdutividade">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Leaderboard de Produtividade - {{leaderboardProdutividade.dtCriacao | date: 'dd/MM/yyyy'}}</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-strong-blue">
                              <th>
                                Posição
                              </th>
                                <th>
                                    Empresa
                                </th>
                                <th>
                                    Avaliação
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of organizarLeaderboardProdutividade(); let i = index">
                                  <td>
                                    {{i+1}}º
                                  </td>
                                    <td>
                                        {{traduzirEmpresa(item.empresaId)}}
                                    </td>
                                    <td>
                                        {{item.mediaAvaliacao.toFixed(3)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>