<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Empresas</h4>
                        <p class="card-category"> Listagem de todas as empresas cadastradas no sistema</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-strong-blue">
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Data de Cadastro
                                    </th>
                                    <th>
                                        Ações
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let empresa of empresas">
                                        <td>
                                            {{empresa.id}}
                                        </td>
                                        <td>
                                            {{empresa.nome}}
                                        </td>
                                        <td>
                                            {{empresa.dataCadastro}}
                                        </td>
                                        <td>
                                            <a [routerLink]="['/company/edit/'+empresa.id]" mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'">
                                                <i class="material-icons">create</i>
                                            </a>
                                            <a [routerLink]="['/company/'+empresa.id]" mat-raised-button type="button" matTooltip="Visualizar" [matTooltipPosition]="'above'">
                                                <i class="material-icons">preview</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <a [routerLink]="['/companies-create']" class="btn btn-round" >Adicionar Empresa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  