<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="perfil-container">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Criar Configuração</h4>
                        <p class="card-category">Atenção! Só é permitido um arquivo de configuração por empresa. O usuário e a data da criação ficarão armazenados no sistema.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput value="{{empresaSelecionada?.nome}}" disabled>
                                    </mat-form-field>
                                </div>
  
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput value="{{empresaSelecionada?.dataCadastro}}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput value="{{usuarioLogado?.email}}" disabled>
                                    </mat-form-field>
                                </div>
  
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput value="{{usuarioLogado?.pessoa?.nome}}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button (click)="submit()" mat-raised-button type="submit" class="btn btn-success btn-round">
                                Criar Configuração
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  