<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="perfil-container">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Sala de Troféus</h4>
                    </div>
                    <div class="card-body">
                        <div class="CSSgal">

							<s id="s1"></s> 
							<s id="s2"></s>
							<s id="s3"></s>
						  
							<div class="slider">
							  	<div style="background:#B78D42;">
									<h2><b>Troféus de Ouro</b></h2>
									<br>

									<div class="com-trofeu" *ngIf="buscarTrofeusPorNivel(1)">
										<div class="row">
											<div class="col-md-4" *ngFor="let trofeu of buscarTrofeusPorNivel(1)">
												<div class="image-container">
													<img src="./assets/img/trofeus/ouro.png" alt="ouro" class="img-trofeu">
												</div>
												<p>{{trofeu.dtCriacao | date: 'dd/MM/yyyy'}} - {{trofeu.empresaId}} - {{trofeu.descricao}}</p>
											</div>
										</div>
									</div>
									
									<div class="sem-trofeu" *ngIf="!buscarTrofeusPorNivel(1)">
										<div class="image-container">
											<img src="./assets/img/sad.png" alt="Sad" class="img-trofeu">
											<br>
										</div>
	
										<p>Que pena, {{usuarioLogado?.pessoa?.nome}}, você e sua equipe ainda não ganharam nenhum troféu de ouro.</p>
									</div>

									<br>
									<br>
								</div>

							  	<div style="background:#676767;">
									<h2><b>Troféus de Prata</b></h2>
									<br>

									<div class="com-trofeu" *ngIf="buscarTrofeusPorNivel(2)">
										<div class="row">
											<div class="col-md-4" *ngFor="let trofeu of buscarTrofeusPorNivel(2)">
												<div class="image-container">
													<img src="./assets/img/trofeus/prata.png" alt="prata" class="img-trofeu">
												</div>
												<p>{{trofeu.dtCriacao | date: 'dd/MM/yyyy'}} - {{trofeu.empresaId}} - {{trofeu.descricao}}</p>
											</div>
										</div>
									</div>
									
									<div class="sem-trofeu" *ngIf="!buscarTrofeusPorNivel(2)">
										<div class="image-container">
											<img src="./assets/img/sad.png" alt="Sad" class="img-trofeu">
											<br>
										</div>
	
										<p>Que pena, {{usuarioLogado?.pessoa?.nome}}, você e sua equipe ainda não ganharam nenhum troféu de prata.</p>
									</div>

									<br>
									<br>
								</div>

							  	<div style="background:#775342;">
									<h2><b>Troféus de Bronze</b></h2>
									<br>

									<div class="com-trofeu" *ngIf="buscarTrofeusPorNivel(3)">
										<div class="row">
											<div class="col-md-4" *ngFor="let trofeu of buscarTrofeusPorNivel(3)">
												<div class="image-container">
													<img src="./assets/img/trofeus/bronze.png" alt="bronze" class="img-trofeu">
												</div>
												<p>{{trofeu.dtCriacao | date: 'dd/MM/yyyy'}} - {{trofeu.empresaId}} - {{trofeu.descricao}}</p>
											</div>
										</div>
									</div>
									
									<div class="sem-trofeu" *ngIf="!buscarTrofeusPorNivel(3)">
										<div class="image-container">
											<img src="./assets/img/sad.png" alt="Sad" class="img-trofeu">
											<br>
										</div>
	
										<p>Que pena, {{usuarioLogado?.pessoa?.nome}}, você e sua equipe ainda não ganharam nenhum troféu de bronze.</p>
									</div>

									<br>
									<br>
								</div>
							</div>
							
							<div class="bullets">
							  <a href="#s1">1</a>
							  <a href="#s2">2</a>
							  <a href="#s3">3</a>
							</div>
						  
						</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>
  

