<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="perfil-container">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Sala de Troféus</h4>
                    </div>
                    <div class="card-body">
                        <div class="CSSgal">

							<s id="s1"></s> 
							<s id="s2"></s>
							<s id="s3"></s>
						  
							<div class="slider">
							  	<div style="background:#B78D42;">
									<h2><b>Troféus de Ouro</b></h2>
									<br>

									<div class="image-container">
										<img src="./assets/img/trofeus/ouro.png" alt="ouro" class="img-trofeu">
									</div>

									<p>Responsive Slideshow Gallery created using CSS only by Roko.
										Responsive Slideshow Gallery created using CSS only by Roko
										Responsive Slideshow Gallery created using CSS only by Roko
										Responsive Slideshow Gallery created using CSS only by Roko
									</p>

									<br>
									<br>
								</div>
							  	<div style="background:#676767;">
									<h2><b>Troféus de Prata</b></h2>
									<br>

									<div class="image-container">
										<img src="./assets/img/trofeus/prata.png" alt="ouro" class="img-trofeu">
									</div>

									<p>Responsive Slideshow Gallery created using CSS only by Roko</p>

									<br>
									<br>
								</div>
							  	<div style="background:#775342;">
									<h2><b>Troféus de Bronze</b></h2>
									<br>

									<div class="image-container">
										<img src="./assets/img/trofeus/bronze.png" alt="ouro" class="img-trofeu">
									</div>

									<p>Responsive Slideshow Gallery created using CSS only by Roko</p>

									<br>
									<br>
								</div>
							</div>
							
							<div class="bullets">
							  <a href="#s1">1</a>
							  <a href="#s2">2</a>
							  <a href="#s3">3</a>
							</div>
						  
						</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>
  

