<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active titulo"> Produtiva </h2>
      <h4>Sistema de Medição da Produtividade
        <br>
        em Times de Desenvolvimento de Software</h4>
  
      <form [formGroup]="loginForm">
        <input type="text" formControlName="email" id="email" class="fadeIn second" name="email" placeholder="Digite seu e-mail">
        <input type="password" formControlName="senha" id="senha" class="fadeIn third" name="senha" placeholder="Digite sua senha">

        <button (click)="login()" class="fadeIn fourth" id="submit">
            Login
        </button>

      </form>

    </div>
</div>